```h2 {
  width: 750px;
  font-size: 48px;
  text-align: center;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px #000;
  margin: auto;
  margin-top: 150px;
}

p {
  width: 750px;
  text-align: center;
  margin: 15px auto;
}

button {
  margin-top: 50px;
  font-size: 20px;
  color: #f3f3f3;
  border-radius: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
  background: #046699;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.button-center {
  text-align: center;
}

#login {
  background: #F2DF63;
  color: #000;
}```
