* {
  font-family: 'Montserrat', sans-serif;
}

body {
  color: #F0F0F0;
  background-color: #292929;
}

main {
  padding-left: 200px;
}

main h2 {
  color: #E5C200;
}

.o {
  display: inline;
  color: #FF2929;
}

header {
font-family: 'Montserrat', sans-serif;
background-color: #191919;
}

footer {
font-family: 'Montserrat', sans-serif;
background-color: #191919;
}




h2 {
  width: 750px;
  font-size: 48px;
  text-align: center;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px #000;
  margin: auto;
  margin-top: 150px;
}

p {
  width: 750px;
  text-align: center;
  margin: 15px auto;

}


/*
white: #F0F0F0
gray: #292929
dark-gray: #191919
red: #FF2929
yellow: #E5C200
