h2 {
  width: 750px;
  font-size: 48px;
  text-align: center;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px #000;
  margin: auto;
  margin-top: 150px;
}

p {
  width: 750px;
  text-align: center;
  margin: 15px auto;

}
