header {
  height: 70px;
  top: 0;
  width: 100%;
  background-color: #191919;
  opacity: .95;
}

header ul li {
  margin-top: 20px;
}

header ul li img {
  float: left;
  margin-top: 0px;
}

footer p {
  display: none;
}
