/*Floats*/
.l-float {
  float: left
}

.r-float {
  float: right;
}

.clearfix {
  clear: both;
}

/*Search Section Styles*/
.search {
  float: left;
  height: 950px;
  width: 32%;
  background-color: #191919;
  box-shadow: 2px 0px 4px #191919;
  padding: 15px;
  box-sizing: border-box;
  margin-top: -150px;
  opacity: .8;
}

.sprite {
  height: 200px;
  width: 200px;
  border: solid 3px #191919;
  border-radius: 7px;
  padding: 15px;
  padding-left: 75px;
  padding-right: 80px;
  background: #454545;
}

.info {
  display: none;
}

.poke-name {
  margin-top: 10px;
  font-size: 38px;
}