/*Floats*/
/*.l-float {
  float: left
}

.r-float {
  float: right;
}

.clearfix {
  clear: both;
}

/*Search Section Styles*/
.search {
  height: 853px;
  width: 32%;
  background-color: #002A52;
  box-shadow: 2px 0px 4px #002A52;
}

/*Displayed Section Styles*/*/
