/*Site Styles*/
<<<<<<< HEAD:Public/styles/style.css
* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: #292929;
  color: #f0f0f0;
body {
  background-color: #00181D;
  color: #f3f3f3;
>>>>>>> 892526dc9e6d7bd2583d554ea12dbccf7023134d:public/styles/style.css
}

/*Nav Styles*/
ul {
    text-align: center;
}

ul li {
  display: inline-block;
  font-size: 25px;
  margin: 10px 15px;
}

a:visited, a {
  text-decoration: none;
  color: #f3f3f3;
}

li img {
  width: 25px;
  height: 25px;
  margin: 5px 5px;
}

.sprite {
<<<<<<< HEAD:Public/styles/style.css
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: none;
}

.types, .stats, .description {
  padding-right: 50px;
  padding-top: 50px;
}

.stats {
  padding-left: 113px;
}

/*
white: #F0F0F0
light-gray: #454545
gray: #292929
dark-gray: #191919
red: #FF2929
yellow: #E5C200
*/
=======
  width: 200px;
  height: 200px;
}
>>>>>>> 892526dc9e6d7bd2583d554ea12dbccf7023134d:public/styles/style.css
