/*Site Styles*/
html {
  font-family: 'Montserrat', sans-serif;
}

/*html {
  background-color: #87BBBF;
  color: #f0f0f0;
}*/

/*Nav Styles*/
ul {
    text-align: center;
}

ul li {
  display: inline-block;
  font-size: 25px;
  margin: 10px 15px;
}

a:visited, a {
  text-decoration: none;
  color: #f3f3f3;
}

li img {
  width: 25px;
  height: 25px;
  margin: 5px 5px;
}

.sprite {
  display: block;
  margin: 0 auto;
  padding-left: none;
}

.types, .stats, .description {
  padding-right: 50px;
  padding-top: 50px;
}

.stats {
  padding-left: 113px;
}

.dex-entry {
  border: solid 3px #f3f3f3;
  border-radius: 10px;
  padding: 10px;
  background: #717171;
  margin: 10px 0px;
  margin-top: -40px;
  margin-right: -250px;
}
