html {
  font-family: 'Montserrat', sans-serif;
}

header {
background-color: #191919;
height: 70px;
}

header ul li {
  margin-top: 20px;
}

header ul li img {
  float: left;
  margin-top: 0px;
}

main h2 {
  color: #f3f3f3;
  font-size: 56px;
  text-align: center;
  margin-top: 150px;
  text-shadow: 2px 2px 4px #000;
}
